<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=user.id%>님이 로그인에 성공하셨습니다.</h1>
    <a href="http://localhost:3000/login">로그인 페이지로 이동하기</a><br>
    <a href="http://localhost:3000/mail">메일시스템이동하기</a><br>
    <a href="#">게시판시스템이동하기</a>
    
</body>
</html>