<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%if(user == null){%>
    <h1>LOGIN</h1>
    <form action="http://localhost:3000/loginCheck" method="POST">
        <input type="text" name="id"><br>
        <input type="password" name="pw"><br>
        <input type="submit" value="LOGIN">
    </form>
    <%}else{%>
        <%=user.id%>님이 로그인 중입니다...
        <a href="http://localhost:3000/logout">로그아웃</a><br>
    <%}%>
</body>
</html>